#!/usr/bin/make -f

export DH_VERBOSE=1
export DH_OPTIONS=-v
export PYBUILD='salt'

include /usr/share/python3/python.mk

%:
	dh $@ --with python3,bash-completion --with=systemd --buildsystem=pybuild

## Note these want a prefix to operate, i.e. python3-foo and python-foo instead of foo
## override_dh_python2: dh_python2 --shebang=/usr/bin/python2
## override_dh_python3: dh_python3 --shebang=/usr/bin/python3

override_dh_auto_build: export http_proxy=127.0.0.1:9
override_dh_auto_build: export https_proxy=127.0.0.1:9
override_dh_auto_build:
	dh_auto_build
##	make -C doc html
##	make -C doc man
##
## override_dh_auto_clean:
##	make -C doc clean
##	dh_auto_clean
##
## override_dh_fixperms:
## 	dh_fixperms
## 	chmod 2750 debian/salt-common/var/log/salt
## 	chown root:adm debian/salt-common/var/log/salt
